<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=C:\Users\Dell\Documents\testnet.sdf;Password=shaheer"
            providerName="System.Data.SqlServerCe.4.0" />
        <add name="ConnectionString2" connectionString="DATA SOURCE=;PASSWORD=Energystar1;USER ID=SYSTEM"
            providerName="Oracle.DataAccess.Client" />
        <add name="dbsql1ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Dell\Documents\dbsql1.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Pubs" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=Pubs;Integrated Security=SSPI" />
        <add name="dbsql1ConnectionString2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Ali\Documents\Visual Studio 2012\Projects\smy build 1\dbsql1.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="dbsql1ConnectionString3" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\muneeb sheikh\Documents\Visual Studio 2012\Projects\smy build 1\dbsql1.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="dbsql1ConnectionString4" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Ali\Documents\Visual Studio 2012\Projects\smy build 1\dbsql1.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="dbsql1ConnectionString5" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Yasir\Documents\Visual Studio 2012\Projects\smy build 3\smy build 3\dbsql1.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="dbsql1ConnectionString6" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Dell\Documents\Visual Studio 2012\Projects\smy build 3\dbsql1.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
